@import "tailwindcss";
html {
  font-size: clamp(10px, 2.5vw, 14px);
}
#root {
  width: 100vw;
  min-height: 100vh;
}
*:focus {
  outline: none;
}
a {
  color: black;
}
a:hover {
  color: rgb(0, 0, 0, 0.5);
}
.mobile-menu {
  box-shadow: 1px 1px 1000px 1000px rgb(0, 0, 0, 0.2);
}